
body {
    font-family: Arial;
}

th {
    color: blue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

#task-abstraction {
    display: flex;
    align-self: center;
}