
body {
    font-family: Arial;
}

th {
    background-color: rgb(36, 170, 200);
    text-align: center;
}

tr {
    text-align: center; 
}

td {
    border: 1px solid black;
}

table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

#task-abstraction {
    display: flex;
    align-self: center;
}